# --- API KEY DE GOOGLE y MODELO IA ---
# Reemplaza el valor de abajo con la clave de Google AI Studio
GEMINI_API_KEY=tu_api_key_de_gemini_aqui
GEMINI_MODEL=gemini-2.5-flash

# --- Credenciales de Base de Datos ---
# Asegúrate de que el usuario y contraseña coincidan con tu configuración de SQL Server
DB_NAME=ingresa_tu_nombre_de_base_de_datos_aqui
DB_USER=ingresa_tu_usuario_aqui
DB_PASSWORD=ingresa_tu_contraseña_aqui

# --- Configuracion Docker ---
#  No cambies estas dos variables para levantar el proyecto con Docker Compose
DB_HOST=host.docker.internal
CELERY_BROKER_URL=redis://redis:6379/0